<a href="/posts/new">새글 작성 하기</a><br>
<% @posts.each do |post| %>
	title : <%= post.title %>
	content : <%= post.content %>
	<a href="/posts/show/<%= post.id %>"> 이 동 </a>
	<!-- a태그를 통해 쿼리파라미터 방식으로 post.id 값이 해당되는 라우터로 넘어가감 -->
	<hr>
<% end %>